name: Generic Pragma CI
# on: [push]

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:
  shared_cmake_definitions: ''

jobs:
  # WINDOWS x64 MSVC
  build-windows:
    name: Build-Windows-x64
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Windows x64 MSVC",
            os: windows-latest,
            artifact: "Windows-MSVC.tar.xz",
            build_type: "RelWithDebInfo",
            environment_script: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Auxiliary/Build/vcvars64.bat",
            cc: "cl",
            cxx: "cl",
            archiver: "7z a",
            generators: "Visual Studio 16 2019"
          }

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Subaction
        id: sub
        uses: Silverlan/github_action_test1/sub_action@main
        
      - shell: bash
        run: |
          cmakeVar1=" VAR_TEST_1"

      - name: Var1
        uses: Silverlan/common_actions/define_cmake_var@actions
        with:
          cmake_var: 'test_var1'
        
      - shell: bash
        run: |
          cmakeVar2=" VAR_TEST_2"
          printf "ASDF"  >> cmake_vars.txt

      - name: Var2
        uses: Silverlan/common_actions/define_cmake_var@actions
        with:
          cmake_var: 'test_var2'

      - name: Var3
        id: var3
        uses: Silverlan/common_actions/get_cmake_vars@actions

      - name: Print
        shell: bash
        id: clone
        run: |
          value="$(cat cmake_vars.txt)"
          echo "$value"
        
          echo "Output: ${{ steps.var3.outputs.cmake_vars }}"
          #echo "SubOutput: ${{ steps.sub.outputs.output_var }}"
          #echo "TEST_SUB_SUB_ENV: ${{ env.TEST_SUB_SUB_ENV }}"
          
          #value="$(cat cmake_vars.txt)"
          #echo "FINAL: $value"
